.about{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10vh;
}

.card-items{
   display: flex; 
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
}


.skills-icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}